<a class="btn btn-primary mb-3" href="/todos/new">Create</a>
<ul class="list-group">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto me-auto">
        <input class="mx-1" type="checkbox" name="isDone" {{#if this.isDone}} checked {{/if}} disabled>
        <span class="fw-bold fs-5 text-secondary">{{ this.name }}</span>
      </div>
      <div class="col-auto">
        <a class="btn btn-info text-light" href="/todos/{{ this.id }}">Detail</a>
        <a class="btn btn-warning text-light" href="/todos/{{ this.id }}/edit">Edit</a>
        <form action="/todos/{{ this.id }}?_method=DELETE" method="POST" style="display:inline;">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>