<form action="/todos/new" method="POST" novalidate>
  <div class="input-group">
    <input type="text" name="name" placeholder="name" class="form-control">
    <a href="/" class="btn btn-secondary">Back</a>
    <button class=" btn btn-success" type="submit">Create</button>
  </div>
</form>